{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Trang Chủ</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>San pham moi nhat</h1>
    {% if new_item %}
        {% for item in new_item %}
            <div class="item-container">
                <img src="{{item.thumbnail.url}}" alt="" class="thumbnail">
                <p>{{item.title}}</p>
                <p>{{item.price|intcomma}}</p>
                <form action="" method="get">
                    <button type="submit" name="cart" value="{{item.id}}">Thêm vào giỏ hàng</button>
                </form>
                <a href="{% url 'detail' item.id %}">Xem Thêm</a>
            </div>
        {% endfor %}
    {% else %}
            <h1>Chua co san pham</h1>
    {% endif %}
</body>
</html>