{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Be Vietnam' rel='stylesheet'>
    <title>Trang Đăng Nhập</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="login-form group">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Đăng Nhập</h1>
            {% for field in form %}
                {{field.errors}}
                <div>
                    {% if field.label == 'username' %}
                        <i class="fa fa-user icon" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-key icon" aria-hidden="true"></i>
                    {% endif %}
                    {{field}}
                </div>
            {% endfor %}
            <button type="submit" class="login-button">Đăng Nhập</button>
            <div class="register-now">Chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay</a></div>
        </form>
    </div>
</body>
</html>