{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Be Vietnam' rel='stylesheet'>
    <title>Dang ky</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="register-form group">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Đăng Ký</h1>
            {% for field in form %}
                {{field.errors}}
                <div>
                    <i class="{{field.label}} icon" aria-hidden="true"></i>{{field}}
                </div>
            {% endfor %}
            <button class="register-button" type="submit">Đăng ký</button>
            <div class="login-now">Có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></div>
        </form>
    </div>
</body>
</html>